@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #09090e;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebar {
  z-index: 9999 !important;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  height: 100%;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px 20px 20px 30px;
  background-color: #0f0f18; 
  color: white;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 15px;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
  background-color: #0088FF;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background-color: #0088FF;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: #006cca;
}


#navigation {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  font-family: 'Raleway', sans-serif;
  z-index: 999;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

#navigation .navbar {
  display: flex;
  flex-direction: row;
  background-color: #0f0f18 !important;
  box-shadow: 80px;
}

#collapsableContent .navbar-nav li a{
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
}

#collapsableContent .navbar-nav li a:hover{
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  font-weight: 600;
  transition: border-bottom 0.08s ease;
  border-bottom: 3px solid white;
}

#navigation .navbar .dropdown a{
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  text-decoration: none;
}

#navbarDropdown:hover{
  color: white;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
  border-bottom: none !important;
}

#navigation .navbar .dropdown .dropdown-menu {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 15px 10px !important;
  margin: 0 !important;
  border-top: 2px solid #4da3ff !important;
  border-radius: 0 !important;
}

#navigation .navbar .dropdown .dropdown-menu a{
  color: rgb(214, 214, 214) !important;
  margin: 0 !important;
  padding: 10px 15px !important;
  background-color: rgba(0, 136, 255, 0);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: none !important;
  border-radius: 0 !important;
}

#navigation .navbar .dropdown .dropdown-menu a:hover{
  color: #fffffa !important;
  background-color: rgba(0, 136, 255, 0) !important;
  font-weight: 400;
  text-decoration: none;
  border-bottom: none !important;
  border-radius: 0 !important;
}

#non-collapsableContent .largeViewPort-ApplyNow{
  background-color: #0f0f18;
  display: inline;
}

#non-collapsableContent .largeViewPort-ApplyNow button{
  background-color: #0088FF;
  color: white;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
  margin: 0px 15px 0px 15px;
}

#non-collapsableContent .largeViewPort-ApplyNow button p{
  display: inline;
}

#non-collapsableContent .largeViewPort-ApplyNow button:hover {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
}

#non-collapsableContent .joinDiscord{
  background-color: #0f0f18;
  display: inline;
}

#non-collapsableContent .joinDiscord button{
  background-color: #7700ff;
  color: white;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
}

#non-collapsableContent .joinDiscord button p{
  display: inline ;
}

#non-collapsableContent .joinDiscord button:hover{
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
}

#afterCollaspe {
  display: none;
}

@media (max-width: 1199.95px){

  #navigation a img {
    margin-left: 40px !important;
  }

  #afterCollaspe {
    display: inline;
    position: fixed;
    align-items: left !important;
    /* padding-right: -50em !important; */
    margin-right: -50px !important;
  }

  #afterCollaspe .dropbtn {
    background-color: #0f0f18;
    font-size: 20px;
    color: white;
    border: none;
  }

  
  /* Dropdown Content (Hidden by Default) */
  #afterCollaspe .dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    background-color: #0f0f18;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0.7;
  }
  
  /* Links inside the dropdown */
  #afterCollaspe .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  #afterCollaspe .dropdown-content a:hover {background-color: #0088FF;}
  
  /* Show the dropdown menu on hover */
  #afterCollaspe .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  #afterCollaspe .dropdown:hover .dropbtn {background-color: #0f0f18;}

  }

#bodyHeader {
  background: 
    linear-gradient(
        to left,rgba(76, 172, 255, 0.1),rgba(0, 24, 46, 0.4)), url('images/index/Backdrop.png');
  padding-left: 5vw; 
  padding-right: 5vw; 
  padding-top: 25vw; 
  padding-bottom: 3.90625vw;  
  display: block; 
  align-items: left; 
  display: flex; 
  flex-direction: column; 
  overflow: hidden;
  min-height: 56.2vw;
  background-size: cover;
  background-attachment: fixed;
}

#bodyHeader .pageTitle {
  font-size: 3.90625vw;
  font-weight: 800;
  color: white;
}

#bodyHeader .pageDescription {
  width: 75% !important;
  font-size: 1.5vw;
  font-weight: 400;
  width: 40vw;
  color: white;
}
@media (max-width: 869px) {
  #bodyHeader .pageTitle {
    font-size: 6vw !important;
  }
  #bodyHeader .pageDescription {
    font-size: 3vw !important;
    width: 80% !important;
  }
}

#serverListCards .row .col .card:hover .card-body{
  transition: all 0.001s ease;
  transform: translate(0, -5px) !important;
}

#serverListCards .row .col .card:hover img{
  transition: all 0.5s ease;
  transform: translatey(-10px) translatex(-5px) scale(1.05)
}

#newsCards .row .col .card .card-body{
  transition: all 0.05s ease;
}

#newsCards .row .col .card:hover .card-body{
  transition: all 0.5s ease;
  background-color: rgba(15, 20, 24, 1) !important;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #0f0f18;
  color: white;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #0f0f18;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #0088FF;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.readMoreQuotes:hover{
  transition: all 0.3s ease;
  background-color: #0088FF !important;
  color: white !important;
}

.joinToday:hover{
  transition: all 0.3s ease;
  background-color: #003768 !important;
  color: white !important;
}

.footer{
  padding-left: 20px;
  background: #0E8FFF;
  color:white;
  .about-wolfcraft{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .getintouch{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-youtube:hover{
  color: #bb0000;
  background: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-twitter:hover {
  color: #55ACEE;
  background: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-facebook:hover {
  color: #3B5998;
  background: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-instagram:hover {
  color: #125688;
  background: white;
}