@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    /* background: url('PixelsBackground.png'); */
    background-color: #09090e;
    font-family: 'Raleway', sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebar {
  z-index: 9999 !important;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  height: 100%;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px 20px 20px 30px;
  background-color: #0f0f18; 
  color: white;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 15px;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
  background-color: #0088FF;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background-color: #0088FF;
}

#sidebar a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: #006cca;
}


#navigation {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  font-family: 'Raleway', sans-serif;
  z-index: 999 !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

#navigation .navbar {
  display: flex;
  flex-direction: row;
  background-color: #0f0f18 !important;
  box-shadow: 80px;
}

#collapsableContent .navbar-nav li a{
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
}

#collapsableContent .navbar-nav li a:hover{
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  font-weight: 600;
  transition: border-bottom 0.08s ease;
  border-bottom: 3px solid white;
}

#navigation .navbar .dropdown a{
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  text-decoration: none;
}

#navbarDropdown:hover{
  color: white;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
  border-bottom: none !important;
}

#navigation .navbar .dropdown .dropdown-menu {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#navigation .navbar .dropdown .dropdown-menu a{
  color: white;
  background-color: rgba(0, 136, 255, 0);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: none !important;
}

#navigation .navbar .dropdown .dropdown-menu a:hover{
  color: rgb(233, 233, 233);
  background-color: rgba(0, 136, 255, 0);
  font-weight: 400;
  text-decoration: none;
  border-bottom: none !important;
}

#non-collapsableContent .largeViewPort-ApplyNow{
  background-color: #0f0f18;
  display: inline;
}

#non-collapsableContent .largeViewPort-ApplyNow button{
  background-color: #0088FF;
  color: white;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
  margin: 0px 15px 0px 15px;
}

#non-collapsableContent .largeViewPort-ApplyNow button p{
  display: inline;
}

#non-collapsableContent .largeViewPort-ApplyNow button:hover {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
}

#non-collapsableContent .joinDiscord{
  background-color: #0f0f18;
  display: inline;
}

#non-collapsableContent .joinDiscord button{
  background-color: #7700ff;
  color: white;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
}

#non-collapsableContent .joinDiscord button p{
  display: inline ;
}

#non-collapsableContent .joinDiscord button:hover{
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
}

#afterCollaspe {
  display: none;
}

@media (max-width: 1199.95px){

  #navigation a img {
    margin-left: 40px !important;
  }

  #afterCollaspe {
    display: inline;
    position: fixed;
    align-items: left !important;
    /* padding-right: -50em !important; */
    margin-right: -50px !important;
  }

  #afterCollaspe .dropbtn {
    background-color: #0f0f18;
    font-size: 20px;
    color: white;
    border: none;
  }

  
  /* Dropdown Content (Hidden by Default) */
  #afterCollaspe .dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    background-color: #0f0f18;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0.7;
  }
  
  /* Links inside the dropdown */
  #afterCollaspe .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  #afterCollaspe .dropdown-content a:hover {background-color: #0088FF;}
  
  /* Show the dropdown menu on hover */
  #afterCollaspe .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  #afterCollaspe .dropdown:hover .dropbtn {background-color: #0f0f18;}

  }

#bodyHeader {
    background: 
    linear-gradient(
        to left,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.95)
    ),
    url('BackdropStaff.png');
    margin-top: 0px;
    padding-left: 5vw; 
    padding-right: 5vw; 
    padding-top: 16.276041666666668vw;
    padding-bottom: 3.90625vw; 
    display: block; 
    align-items: left; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
    height: 52vw;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}


#bodyHeader .pageTitle{
    font-size: 60px; 
    font-weight: 800; 
    color: white;
  }
  
  #bodyHeader .pageDescription{
    width: 45% !important;
    font-size: 20px;
    font-weight: 400; 
    width: 40vw; 
    color: white;
  }
  @media (max-width: 869px){
    #bodyHeader .pageTitle{
      font-size: 45px !important;
    }
    #bodyHeader .pageDescription{
        font-size: 20px !important;
        width: 80% !important;
    }
  }

  #staffPermissions {
    color: white;
    margin: 0px 25px 35px 25px;
    padding: 25px 20px 10px 20px;
    border-left: 10px solid #0E8FFF;
    display: flex;
    flex-direction: column;
    background-color: #0f0f18;
  }
  
  #staffPermissions .staffPermissionContent {
    font-size: 16px;
  }

#StaffCardDeck {
    padding-left: 10vw; 
    padding-right: 10vw; 
    margin-top: 50px; 
    display: block; 
    align-items: center; 
    display: flex; 
    flex-direction: column;
    z-index: 0;
}

#StaffCardDeck .card{
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    min-width: 300px;
    max-width: 300px;
    /* background-color: #222230; */
    background: url('Pixels.png');
    color: white;
}

#StaffCardDeck .card:hover{
    cursor: pointer;
}

#PopupStaffCards .card{
    font-family: 'Raleway', sans-serif;
    border: none;
    min-width: 300px;
    max-width: 300px;
    color: white;
}

#staffRD .nav-link {
  color: #ffffff;
  border-radius: 0;
}
#staffRD .nav-link:hover {
  background-color: #fffaff;
  color: #000000;
}

.modal-backdrop {
    background-color: #191927;
    opacity: 0.98 !important;
}

.footer{
  padding-left: 20px;
  background: #0E8FFF;
  color:white;
  .about-wolfcraft{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .getintouch{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-youtube:hover{
  color: #bb0000;
  background: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-twitter:hover {
  color: #55ACEE;
  background: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-facebook:hover {
  color: #3B5998;
  background: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-instagram:hover {
  color: #125688;
  background: white;
}